@font-face {
    font-family: 'Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text: #2a2728;
    --textaccent: #808080;
    --gray: #cccccc;
    --accent: #343032;
    --yellow: #ffdb58;
    --green: #70ad47;
    --red: #AF87CE;
    --bg: #f7f7f7;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Regular', sans-serif;
    line-height: 1.5rem;
    font-size: 16pt;
  }

body {
    background-color: var(--bg);
    overscroll-behavior-x: contain !important;
    overscroll-behavior-y: contain !important;
}

#wrapper{
  height: auto;
  min-height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

h1 {
    font-size: 2rem;
    margin: 20px 0;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

span {
    color: var(--yellow);
    font-size: inherit;
    font-weight: inherit;
}

a {
	text-decoration: none;
    font-size: inherit;
    color: inherit;
}

i {
    font-size: inherit;
}

img {
    width: 100%;
    border-radius: 15px;
  }
  
  del {
      text-decoration: line-through;
  }
  
  pre {
      padding: 18px;
      margin: 10px 0;
      color: var(--accent);
      background-color: var(--bg);
      border-radius: 5px;
      overflow-x: scroll;
          word-break: break-all;
  }
  
  code {
      background-color: var(--bg);
      color: var(--accent);
      border-radius: 10px;
      padding: 5px 10px;
      word-break: break-all;
  }
  
  blockquote {
      padding: 18px;
      margin: 10px 0;
      background-color: #fff;
      border-radius: 5px;
  }
  
  blockquote:before {
      content: "\201C";
      font-size: 2em;
      font-family: Georgia;
      color: var(--yellow);
      float: left;
      margin: -5px 10px 0px -10px;
    }
  
  .item ul {
      display: block;
      list-style: none; /* Remove default bullets */
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  
  .before::before {
      content: "\2574";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em; /* Also needed for space (tweak if needed) */
    }
  
  .item ul li {
      margin-bottom: 10px;
  }
  
  .item ol {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
      list-style-type: decimal;
  }
  
.item ol li {
    margin-bottom: 10px;
}

.page_title {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 15px;
}

.line{
    color: var(--yellow);
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  .container2 {
    width: 100%;
    margin: 20px auto;
  }

  ul.tabs{
      margin: 0 auto;
      padding: 0px;
      list-style: none;
      text-align: center;
  }
  ul.tabs li{
      background: none;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
  }
  
  ul.tabs li.current{
      border-radius: 25px;
      background: var(--yellow);
  }
  
  .tab-content{
      display: none;
  }
  
  .tab-content.current{
      display: inherit;
  }
  

.gallery-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: stretch;
}

.gallery {
	width: 49.5%;
	aspect-ratio: 16 / 9;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 10px;
}

.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
	border-radius: 15px;
	overflow: hidden;
	margin-bottom: 10px;
}

@media (max-width: 768px) {
    .gallery {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 10px;
    }
  }

.title {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.sub-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 20px auto;
}

.nav {
    margin: 10px auto;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    max-width: 600px;
    color: var(--white); 
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 5px 5px 5px var(--gray);
}

.nav i {
    font-size: 1.7rem;
    margin-top: 10px;
}

#post {
    width: 100%;
    max-width: 600px;
    background-color: var(--white);
    border-radius: 35px;
    margin: 10px auto;
    padding: 30px 15px;
    box-shadow: 5px 5px 5px var(--gray);
}

#post a {
    color: var(--yellow);
}

#modebar {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#modebar i {
    font-size: 1.3rem;
    margin-top: 5px;
}

#piano-roll {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

#pianoroll {
  height: 609px;
  width: 25000px;
}

#noteguide {
    width: 60px;
    height: 609px;
    position: absolute;
    z-index: 1;
    background-color: var(--bg);
}

#modebar .selected {
    color: var(--green);
}

#noteGuideContainer {
    width: 60px;
    height: 609px;
}

#editorContainer {
    width: calc(100vw - 60px);
    height: 609px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#waveviewer {
    height: 609px;
    width: 9000px;
    position: relative;
    top: -619px;
}

#editor {
    height: 609px;
    width: 9000px;
    position: relative;
    z-index: 2;
}

.v-line {
    position: relative;
    top: -1238px;
    z-index: 3;
    width: 2px;
    background-color: var(--accent);
}

#sound {
    display: none;
}

.filebox {
    line-height: 1.1rem;
    text-shadow: none !important;
}

.filebox .midi-name, .filebox .mp3-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid var(--yellow);
    width: 78%;
    color: var(--accent);
    border-radius: 35px;
}

.filebox label {
    display: inline-block;
    width: 20%;
    padding: 5px;
    color: #fff;
    vertical-align: middle;
    background-color: var(--yellow);
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    border-radius: 35px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}